@* файл Home/About.cshtml *@

@page
@model MVC_Checkers_Club.Views.Home.AboutModel
@{
    ViewBag.Title = "History checkers";
    Layout = "/Views/Shared/_Layout.cshtml"; @* ссылка на файл с разметкой страницы *@
}

 <p>
    Ша́шки — логическая настольная игра для двух игроков, заключающаяся в передвижении определённым образом фишек-шашек по клеткам шашечной доски. 
    Во время партии каждому игроку принадлежат шашки одного цвета: чёрного или белого (иногда других цветов, один из которых считается тёмным, а другой — светлым). 
    Цель игры — взять все шашки соперника или лишить их возможности хода (запереть). Существует несколько вариантов шашек, 
    различающихся правилами и размерами игрового поля.
    <br />
    Основные правила игры, которые действуют во всех вариантах шашек:
    <br />
    Все шашки, участвующие в партии, выставляются перед началом игры на доску. Далее они передвигаются по полям доски и могут быть сняты с неё в случае боя шашкой противника.
    Брать шашку, находящуюся под боем, обязательно. Исключение: «Сибирские шашки».
    <br />
    Существует только два вида шашек: простые и дамки. В начале партии все шашки простые. Простая шашка может превратиться в дамку, если достигнет последнего противоположного горизонтального ряда доски (дамочного поля).
    Простые шашки ходят только вперёд на следующее поле. Дамки могут ходить и вперёд, и назад.

 </p>
    @section Footer {
        Copyright© Checkers_Club.com, @DateTime.Now.Year. All rights reserved
    }


